<!doctype html>
<html lang="en" data-ng-app="costcoop">
<head>
  <meta charset="utf-8">
  <title>CostcoOp</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Shanti' rel='stylesheet' type='text/css'>
</head>
<body class="overall row-fluid">
  <div class="span4 offset4 costcoop">
    Cost<span class="logo">coOp</span>
  </div>
  <div data-ng-controller= "ItemCtrl"> 
    <div class="span12">
      <div class="row-fluid">
        <div class="span6 offset1">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for "text"> Search by Poster </label>
              <div class="controls">
                <input type="text" ng-model="search.poster">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for "text"> Search by Item </label>
              <div class="controls">
                <input type="text" ng-model="search.name">
              </div>
            </div>
          </form>
        </div>
      </div>
      <ul>
        <li id="avail" class="itemdeets itemAccept-{{item.divied}}" data-ng-repeat="item in items | filter:search">
          <div> Buy Date: {{item.date}}</div>
          <div> Item: {{item.name}}</div>
          <div> Price: ${{item.price}}</div>
          <div> Qty: {{item.qty}}</div>
          <button ng-show="!item.divied" ng-click="toggle()"> {{divyMessage}} </button>
          <form ng-show="showMe"> 
            <div> To split the item above, please contact: </div>
            <div> Poster: {{item.poster}} </div>
            <div> Phone: {{item.phone}} </div>
            <button type= "submit" data-ng-click="acceptItem()">Finalize</button>
          </form>
        </li>
      </ul>
    </div>

    <div class="populate row-fluid">
      <div class="span3">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for "text"> Item: </label>
            <div class="controls">
              <input type="text" ng-model="name"/><br />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for "text"> Price: </label>
            <div class="controls">
              <input type="text" ng-model="price"/><br />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for "text"> Qty: </label>
            <div class="controls">
              <input type="text" ng-model="qty"/><br />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for "text"> Buy Date: </label>
            <div class="controls">
              <input type="date" ng-model="date"/><br />
            </div>
            
          </div>
          <div class="control-group">
            <label class="control-label" for "text"> Poster: </label>
            <div class="controls">
              <input type="text" ng-model="poster"/><br />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for "text"> Phone: </label>
            <div class="controls">
              <input type="text" ng-model="phone"/><br />
            </div>
          </div>
          <div class="savebtn">
              <button type= "submit" data-ng-click="postItem()">SAVE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="test" title="Dialog Test Title" style="display:none" > bla bla bla</div>
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
