<!doctype html>
<html lang="en" data-ng-app="costcoop">
<head>
  <meta charset="utf-8">
  <title>CostcoOp</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/normalize.css">
</head>
<body class="overall">
  <div class="meat span-6 offset-3">
    <h1>Cost<span class="logo">coOp</span></h1>
    <div data-ng-controller= "ItemCtrl"> 
      <ul>
        <li>
          <div class="datebx" data-ng-repeat="dates in board">
            <span >{{board.dates}}</span>
          </div>
          <div class="itemdeets" data-ng-repeat="names in board" data-ng-repeat="qtys in board" data-ng-repeat="prices in board">
            <div>
              <span>{{board.names}}</span>
              <span>{{"qty:" + board.qtys}}</span>
            </div>
            <div>{{"$"+ board.prices}}</div>
          </div>
        </li>
      </ul>
      
      <div class="populate">
        <form class="form-inline">
          Item: 
          <input type="text" ng-model="name"/><br />
          Price:
          <input type="text" ng-model="price"/><br />
          Qty:
          <input type="text" ng-model="qty"/><br />
          Date: 
          <input type="date" ng-model="date"/><br />

          <button type= "submit" data-ng-click="postItem()">SAVE</button>
        </form>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
