/* app css stylesheet */
.overall{
  background-color: #167A67;
  color: #002C45;
}

.meat{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  color: #B60808;
}

.savebtn{
  margin-right: -70%;
  float: right;
}

.itemdeets{
  background-color: #CB9538;
  padding-left: 23px;
  padding-right: 23px;
  padding-top:2px;
  margin-bottom:10px;
  margin-right: 10%;
  margin-left: 10%;
}

.itemAccept-true{
  background-color: #0B6B13;
}

.populate{
  float: left;
  margin-bottom:10px;
  margin-right: 10%;
  margin-left: 10%;

}

ul, li {
  list-style-type: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
