/* app css stylesheet */
.overall{
  background-color: #F8F8EE;
  
}

.meat{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  color: #66FFFF;
}

.datebx{
  background-color: #CACAD4;
  border-style: solid;
  border-color: black;
  border-width:3px;
  padding: 10px;
}

.itemdeets{
  background-color: #66FFFF;
  padding-left: 23px;
  padding-right: 23px;
  padding-top:2px;
  margin-bottom:10px;
  width: 50%;
}

.itemAccept-true{
  background-color: orange;
}

.populate{
  width: 60%;
  float: auto;
}

ul, li {
  list-style-type: none;
}

#avail{

}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
